@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Helvetica Neue",'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif, -apple-system, BlinkMacSystemFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.marker-label{
  position: relative;
}

.marker-label::after{
  content: '';
  position: absolute;
  transform: rotate(37deg);
  width: 27px;
  left: 76px;
  bottom: -17px;
  @apply border-b-2 border-slate-500;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#cardData {
  box-shadow: 0 0 10px -2px #242424;
}
#cardData::before{
  content: '';
  box-shadow: inherit;
  background-repeat: no-repeat;
  background-size: 80px 80px;
  @apply absolute top-[-40px] left-[50%] translate-x-[-50%] rounded-full bg-white p-2 w-[90px] h-[90px]
}
#cardData::after{
  content: '';
  background-repeat: no-repeat;
  background-size: 80px 80px;
  z-index: 0;
  @apply absolute top-0 left-[50%] translate-x-[-50%] bg-white p-2 w-[100px] h-[80px]
}
#idList::after{
  content: '';
  height: 70px;
  width: 100%;
  background-image: linear-gradient(360deg, #e2e8f0, transparent);
  @apply absolute bottom-0 
}

/* .arrow::after{
  content: '';
  @apply absolute h-[35px] bg-[#202758] w-[13px] left-3 rotate-[-45deg] top-[-13px]
} */